    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    /* Common Styles */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    /* header style */
    
    header.sticky {
        background-color: #07befc;
        box-shadow: 0px 3px 0 #ffffff;
        color: #fff;
    }
    
    header.sticky li a:hover,
    header.sticky .__logo a:hover,
    header.sticky li i:hover {
        color: black;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem 7rem;
        width: 100%;
        position: fixed;
        background-color: transparent;
        z-index: 20;
    }
    
    header .logo .__logo {
        display: flex;
        position: relative;
    }
    
    header .__logo a {
        font-size: 1.5rem;
        color: #fff;
        font-weight: 800;
        z-index: 10;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 28px;
    }
    
    header .menu-bar .menu-items {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header .menu-bar li {
        margin: 0 1.1rem;
        transition: all 1s linear;
    }
    
    header .menu-bar li :hover {
        color: #07befc;
    }
    
    header .menu-bar li i {
        color: #ffffff;
        padding-right: 5px;
    }
    
    header .toggle {
        display: none;
    }
    
    header .toggle span {
        width: 27px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0;
        position: relative;
        display: block;
        transition: all 0.3s ease-out 0s;
    }
    
    header .menu-bar li a {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        transition: all 0.5s linear;
    }
    
    header .menu-bar li a :hover {
        color: #07befc;
    }
    
    section {
        padding: 5rem 6rem;
    }
    
    .home {
        width: 100%;
        height: 120vh;
        position: relative;
        background-color: #000708;
    }
    
    .home .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    
    .home .social-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        left: 25px;
        padding: 2.2rem 1rem;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 3px 3px #07befc;
    }
    
    .home .social-icons a {
        color: black;
        font-size: 25px;
        margin-bottom: 1.3rem;
    }
    
    .home .social-icons a:last-child {
        margin-bottom: 0;
    }
    
    .home .social-icons .fa-github {
        color: black;
    }
    
    .home .social-icons .fa-facebook-f {
        color: #1877f2;
    }
    
    .home .social-icons .fa-instagram {
        color: #c32aa3;
    }
    
    .home .social-icons .fa-whatsapp {
        color: #25d366;
    }
    
    .home .social-icons a i {
        transition: all 0.3s linear;
    }
    
    .home .social-icons a i:hover {
        transform: scale(1.4);
    }
    
    .home .content h1 {
        color: #ffffff;
        font-family: Poppins;
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    
    .home .content span {
        color: #07befc;
    }
    
    .home .content p {
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .home .content input {
        background-color: #F5F5F5;
        padding: 15px;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-bottom: 10px;
    }
    
    .home .content input::placeholder {
        font-size: 15px;
        font-family: poppins;
    }
    
    .home .content button {
        padding: 12px;
        border-radius: 10px;
        border: none;
        background: #07befc;
        font-family: Poppins;
        color: #fff;
        font-size: 15px;
        margin-left: -20px;
        margin-top: 4px;
    }
    
    .home .img-div {
        width: 420px;
        height: 400px;
        overflow: hidden;
        padding-left: 3rem;
        border-radius: 200px 0px 200px 200px;
        background-color: #07befc;
    }
    
    .home .img-div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    
    .home .curvy-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    .home .curvy-shape img {
        display: block;
    }
    /* about style */
    
    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .section-title {
        position: relative;
        color: #3a6cf4;
        font-size: 3.8rem;
        font-weight: 800;
        margin-bottom: 60px;
    }
    
    .about .content {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    
    .about .content .col-left {
        position: relative;
        width: 45%;
    }
    
    .about .content .col-left .content-title {
        position: relative;
        font-size: 2.3rem;
        font-weight: 800;
        color: white;
        margin-bottom: 20px;
    }
    
    .about .content .col-left .content-title::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: black;
        -webkit-text-stroke: 0vw black;
        border-right: 2px solid black;
        overflow: hidden;
        animation: animate 4s linear infinite;
    }
    
    @keyframes animate {
        0%,
        10%,
        100% {
            width: 0;
        }
        70%,
        90% {
            width: 100%;
        }
    }
    
    .about .content .col-left p {
        font-size: 1em;
        text-align: justify;
    }
    
    .about .content .col-right {
        position: relative;
        width: 50%;
    }
    
    .about .content .col-right .img-div {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .about .content .col-right .img-div img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    /* skills style */
    
    .skills {
        background: #1c1c1c;
    }
    
    .skills .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
    
    .skills .section-title {
        margin-bottom: 40px;
    }
    
    .skills .content {
        padding: 2.5rem 5rem;
        width: 60%;
        background: rgba( 0, 0, 0, 0.3);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37);
        backdrop-filter: blur( 9px);
        -webkit-backdrop-filter: blur( 9px);
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18);
    }
    
    .skills .content .col-right .bar {
        margin-bottom: 15px;
        padding: 10px;
    }
    
    .skills .content .bar .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    
    .skills .content .bar .info span {
        font-size: 18px;
        font-weight: 500;
    }
    
    .skills .content .bar .line {
        position: relative;
        width: 100%;
        margin: 5px 0 16px 0;
        height: 7px;
        background: #ccc;
        border-radius: 2px;
    }
    
    .skills .content .bar .line:before {
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 2px;
    }
    
    .skills .content .bar .html:before {
        width: 95%;
        background: #07befc;
        animation: html 3s;
    }
    
    .skills .content .bar .css:before {
        width: 85%;
        background: #07befc;
        animation: css 3s;
    }
    
    .skills .content .bar .bootstrap:before {
        width: 90%;
        background: #07befc;
        animation: bootstrap 3s;
    }
    
    .skills .content .bar .javascript:before {
        width: 80%;
        background: #07befc;
        animation: js 3s;
    }
    
    .skills .content .bar .jquery:before {
        width: 80%;
        background: #07befc;
        animation: jq 3s;
    }
    
    .skills .content .bar .react:before {
        width: 70%;
        background: #07befc;
        animation: react 3s;
    }
    
    .skills .content .bar .net:before {
        width: 75%;
        background: #07befc;
        animation: net 3s;
    }
    
    .skills .content .bar .figma:before {
        width: 60%;
        background: #07befc;
        animation: figma 3s;
    }
    
    @keyframes html {
        0% {
            width: 0;
        }
        100% {
            width: 90%;
        }
    }
    
    @keyframes css {
        0% {
            width: 0;
        }
        100% {
            width: 85%;
        }
    }
    
    @keyframes bootstrap {
        0% {
            width: 0;
        }
        100% {
            width: 90%;
        }
    }
    
    @keyframes js {
        0% {
            width: 0;
        }
        100% {
            width: 80%;
        }
    }
    
    @keyframes jq {
        0% {
            width: 0;
        }
        100% {
            width: 80%;
        }
    }
    
    @keyframes react {
        0% {
            width: 0;
        }
        100% {
            width: 70%;
        }
    }
    
    @keyframes net {
        0% {
            width: 0;
        }
        100% {
            width: 75%;
        }
    }
    
    @keyframes figma {
        0% {
            width: 0;
        }
        100% {
            width: 60%;
        }
    }
    /* work style */
    
    .work .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .work .content .box {
        width: 340px;
        margin: 15px;
    }
    
    .work .box-btn {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1rem;
    }
    
    .work .box-btn .btn {
        display: inline-block;
        font-weight: 700;
        text-align: center;
        border: 2px solid #07befc;
        padding: 7px 13px;
        font-size: 16px;
        border-radius: 11px;
        color: #16e3e3;
        background-color: #ffffff;
        cursor: pointer;
        transition: all 0.6s ease-out;
    }
    
    .work .box-btn a:first-child {
        padding: 7px 25px;
    }
    
    .work .box-btn :hover {
        transform: scale(0.95);
        background-color: #07befc;
        color: #fff;
    }
    
    .work .content .box .box-img {
        position: relative;
        width: 100%;
        height: 260px;
        overflow: hidden;
        border-radius: 10px;
    }
    
    .work .content .box .box-img img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        transition: 0.5s ease;
    }
    
    .work .content .box .box-img img:hover {
        transform: scale(1.2);
    }
    /* contact style */
    
    .contact {
        background-color: #1c1c1c;
    }
    
    .contact .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .contact .content {
        width: 40%;
        padding: 2rem 4rem 3rem;
        background: rgb(38 38 38);
        border-radius: 15px;
        box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    }
    
    .contact h2 {
        position: relative;
        color: #07befc;
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 1.7rem;
    }
    
    .contact .input-box {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }
    
    .contact .input-box label {
        font-size: 1.4rem;
        color: #fff;
    }
    
    .contact .input-box input,
    .contact .input-box textarea {
        color: #111;
        width: 100%;
        padding: 8px 10px;
        font-size: 1rem;
        font-weight: 400;
        outline: none;
        border: 1px solid #111;
        border-radius: 10px;
        resize: none;
    }
    
    .contact .input-box textarea {
        height: 10rem;
    }
    
    .contact .input-box input:hover,
    .contact .input-box textarea:hover {
        border-right: 5px solid #07befc;
        border-left: 5px solid #07befc;
    }
    
    .contact .content div:last-child {
        text-align: center;
    }
    
    .contact button {
        color: #fff;
        background: #07befc;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 10px 6px;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 80%;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.5s ease;
    }
    
    .contact button:hover {
        transform: scale(0.95);
    }
    
    footer {
        text-align: center;
        padding: 1rem;
        background-color: #fff;
        font-size: 1.4rem;
    }
    
    footer span {
        color: #07befc;
        font-weight: bold;
    }
    
    .reveal {
        position: relative;
        transform: translateY(60px);
        opacity: 0;
        transition: all 1.5s ease;
    }
    
    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }
    /* media queries */
    
    @media only screen and (max-width: 768px) {
        /* header  */
        header {
            font-size: 1.8rem;
            padding: 2rem 1rem 2.2rem 4.7rem;
        }
        header.sticky {
            font-size: 1.8rem;
            padding: 2rem 1rem 2.2rem 4.7rem;
        }
        header .__logo a {
            font-size: 1.6rem;
            line-height: 20px;
        }
        header .toggle {
            display: block;
        }
        header .toggle span {
            width: 23px;
        }
        header .menu-bar {
            position: fixed;
            top: 98px;
            right: -300px;
            width: 282px;
            height: 100vh;
            background-color: #07befc;
            border-left: 2px solid rgb(255 255 255);
            transition: all 0.6s ease;
        }
        header .menu-bar .menu-items {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            text-align: justify;
            padding: 26px 56px;
        }
        header .menu-bar .menu-items li {
            margin: 1.2rem 1.6rem;
        }
        header .menu-bar .menu-items i,
        header .menu-bar .menu-items a {
            color: black;
        }
        header .menu-bar .menu-items i:hover,
        header .menu-bar .menu-items a:hover {
            color: #fff;
        }
        /* home */
        section {
            padding: 3rem 3.5rem;
        }
        .home {
            height: auto;
        }
        .home .container {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .home .social-icons {
            left: 8px;
            padding: 0.9rem 0.6rem;
            box-shadow: 1px 3px 3px #07befc;
        }
        .home .content h1 {
            text-align: left;
            padding-top: 5rem;
            font-size: 2.9rem;
            line-height: 51px;
            margin-bottom: 20px;
        }
        .home .content {
            padding-left: 1.8rem;
        }
        .home .content p:last-child {
            margin-bottom: 18px;
        }
        .home .content input {
            width: 17rem;
            font-size: 1rem;
        }
        .home .content button {
            margin-left: -17px;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1.5px;
        }
        .home .img-div {
            width: 23rem;
            height: 15rem;
            margin-left: -1rem;
            margin-bottom: 2rem;
        }
        .home .curvy-shape {
            bottom: -2px;
        }
        .home .curvy-shape img {
            display: block;
        }
        /* about */
        .about {
            height: auto;
        }
        .title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .section-title {
            font-size: 2.8rem;
            margin-bottom: 0px;
        }
        .about .content {
            flex-direction: column;
            justify-content: center;
            margin-top: 20px;
        }
        .about .content .col-left {
            width: auto;
        }
        .about .content .col-left .content-title {
            font-size: 1.8rem;
            margin-bottom: 7px;
        }
        .about .content .col-left p {
            font-size: 14px;
            text-align: justify;
            padding-bottom: 1rem;
        }
        .about .content .col-right {
            width: auto;
            height: 15rem;
        }
        /* skills */
        .skills .section-title {
            margin-bottom: 20px;
        }
        .skills .content {
            padding: 2rem 3rem;
            width: 98%;
        }
        /* .contact */
        .contact .content {
            width: 94%;
            padding: 2rem 2rem 3rem;
        }
        .contact h2 {
            font-size: 2.5rem;
            margin-bottom: 1.2rem;
        }
        .contact .input-box label {
            font-size: 1.2rem;
        }
        .contact .input-box {
            margin-bottom: 10px;
        }
    }
    
    @media only screen and (max-width: 520px) {
        .home .content input {
            width: 60%;
        }
        .about .content .col-left .content-title {
            font-size: 16px;
        }
    }
    
    @media only screen and (max-width: 400px) {
        header {
            font-size: 1.8rem;
            padding: 1.1rem 1.5rem;
        }
        header.sticky {
            font-size: 1.8rem;
            padding: 1.1rem 1.5rem;
        }
        header .__logo a {
            font-size: 1.2rem;
            line-height: 20px;
            letter-spacing: 2px;
        }
        header .menu-bar {
            top: 67px;
            right: -300px;
            width: 220px;
        }
        header .menu-bar .menu-items {
            padding: 43px 26px;
        }
        section {
            padding: 2rem 1.8rem 2rem 2.4rem;
        }
        .home .social-icons {
            left: 5px;
            padding: 1rem 0.6rem;
        }
        .home .social-icons a {
            font-size: 21px;
            margin-bottom: 0.7rem;
        }
        .home .content h1 {
            padding-top: 4rem;
            font-size: 2.2rem;
            line-height: 44px;
            margin-bottom: 13px;
        }
        .home .content p {
            font-size: 0.9rem;
        }
        .home .content {
            padding-left: 1.3rem;
        }
        .home .content p:last-child {
            margin-bottom: 19px;
            font-size: 0.8rem;
        }
        .home .content input {
            width: 10rem;
            font-size: 0.8rem;
            padding: 12px 8px;
        }
        .home .content button {
            margin-left: -23px;
            margin-top: 0;
            padding: 11px;
            font-size: 12px;
        }
        .home .img-div {
            width: 85%;
            height: 12rem;
            margin-left: -1rem;
            margin-bottom: 1.6rem;
            padding-left: 2.5rem;
        }
        .about {
            padding: 2rem 2.2rem 2rem 3.2rem;
        }
        .section-title {
            font-size: 2rem;
        }
        .about .content {
            margin-top: 8px;
        }
        .about .content .col-left .content-title {
            font-size: 1.2rem;
        }
        .about .content .col-left p {
            font-size: 12px;
            padding-bottom: 0.7rem;
        }
        .skills {
            padding: 2rem 2rem 2rem 3rem;
        }
        .skills .content {
            padding: 1.4rem 1.5rem;
        }
        .skills .content .bar .info span {
            font-size: 14px;
        }
        .skills .section-title {
            margin-bottom: 7px;
            font-size: 2.4rem;
            letter-spacing: 3px;
            color: rgb(58 108 244);
        }
        .work {
            padding: 2rem 2rem 2rem 3rem;
        }
        .work .box-btn {
            margin-top: 0.8rem;
        }
        .work .box-btn .btn {
            font-size: 14px;
            letter-spacing: 1px;
        }
        .contact {
            padding: 2rem 1.8rem 2rem 3rem;
        }
        .contact .content {
            padding: 1rem 1.5rem 2rem 1.5rem;
        }
        .contact h2 {
            font-size: 2rem;
            margin-bottom: 1.3rem;
        }
        .contact .input-box {
            margin-bottom: 8px;
        }
        .contact .input-box label {
            font-size: 1rem;
        }
        .contact .input-box input,
        .contact .input-box textarea {
            padding: 7px 10px;
            font-size: 0.9rem;
            border-radius: 6px;
        }
        .contact .input-box textarea {
            height: 7rem;
        }
        .contact button {
            font-size: 1.2rem;
            width: 60%;
        }
        footer {
            font-size: 1rem;
            padding: 0.3rem;
        }
    }
    
    @media only screen and (max-width: 360px) {
        .about .content .col-left .content-title {
            font-size: 1rem;
        }
        header .menu-bar .menu-items {
            padding: 47px 9px;
        }
        header .menu-bar {
            right: -300px;
            width: 182px;
        }
        header .menu-bar .menu-items li {
            margin: 1.8rem 1.6rem;
        }
    }
    
    @media only screen and (max-width: 330px) {
        .home .content h1 {
            font-size: 2.4rem;
            line-height: 45px;
            letter-spacing: 2px;
        }
        .home .content p {
            letter-spacing: 1px;
        }
        .home .content input {
            width: 100%;
        }
        .home .content button {
            margin-left: 41px;
            width: 60%;
            margin-top: -4px;
        }
        .home .content p:last-child {
            margin-top: 7px;
            letter-spacing: 1px;
            text-align: center
        }
        .home .img-div {
            width: 90%;
            height: 11rem;
            margin-left: 0rem;
            padding-left: 1.5rem;
        }
        .home .social-icons {
            padding: 1rem 0.5rem;
        }
        .work .box-btn .btn {
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 11px;
        }
        .contact h2 {
            font-size: 1.7rem;
            line-height: 30px;
        }
    }